@charset "utf-8";
p{
	font-size: 20px;
}
.gioithieu{
	
	color:#FFF; 
	font-weight: 400; 
	font-size: 3em; line-height: 1em;
	background-color:#090F16;
	padding:20px;
	
}
.labeldangxuat{float:left; padding:48px 2px;width:25%;color:black;font-size:18px;}
.labeldangxuat a:link{color:#FFF;
text-decoration:none;}
.labeldangxuat a:visited{color:#FFF;
text-decoration:none;}
body{margin:0;}
.menu:hover{ background-color:#999;
			}
#logo{
	float:left;
	}
.lienket a:link{
	text-decoration:none;
	color:#FFF;
	
}
.lienket a:visited{
	color:#FFF;
	}
	ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	-webkit-position:sticky;
}
li a{
	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 72px;
	text-decoration: none;
	
}
li {
	float:left ; 	
}
.active{
	background-color:#F00;
}
li a:hover{
	background-color:#999;
}



.divmenu{
	width:180px;
	position:fixed;
	color:black;
	margin-left:50px; 
	border: 2px solid #999;
	padding:10px;
	
	
}
.divmenu a:visited{
	text-decoration:none;
	color:#000;
	
	
	}
.divmenu a:hover{
	color:#000;
	}
.divmenu a:link{
	text-decoration:none;
	color:#F00;
	}

.ND{
	float:right;
	border: 3px solid white;
	width:1150px;
}

.thuoctinhsp{
	background-color:while;
	float:left; 
	width:267px; 
	height:400px;
	padding: 5px 5px 5px;
	margin: 3px;
	border:#C90 solid 1px;

}
.thuoctinhsp:hover{
	background-color:#CCC;
}
.imgsp{
	width:200px;
	height:245px;
	padding-left:25px;
}
.giasp{
	font:20px bold;
	color:red;
	padding-left:10px;
}
.tensp{
	font:20px bold;
	color:black;
	padding-left:10px;
}
#sotrang{
	clear:both;
	margin-left:20%;
	text-align:center;
	border:0px;
}

div.sticky {
  position: -webkit-sticky;
  position:sticky;
  top: 0;
}
.sotrang a:visited{
	color:#000;
	}
.sotrang a:link{
	text-decoration:none;
	color:#000;
	border:1px solid black;
	}
#footer{
	background-color:#090F16;
	color:#FFF;
	padding-left:10px;
	font-size:17px;
}

/*Chi Tiei San Pham*/

/*.labeldangxuat1{float:left; padding:18px 2px;width:25%;color:black;font-size:18px;}
.labeldangxuat1 a:link{color:red;
text-decoration:none;}
.labeldangxuat1 a:visited{color:red;
text-decoration:none;}

.labelgiohang1{
	float:left; padding:30px;width:150px;text-decoration: none;font-size:20px;
	}
.labelgiohang1 a:link{
	color:white;
	text-decoration:none;
	
	}
.labelgiohang1 a:visited{
	color:white;
	text-decoration:none;
	}*/

.imgleft{
	padding-top: 20px;
    width: 64px;
    height: 64px;
}
#hinh_sp{
    float:left; 
    width:400px;
    text-align:center;
}
#ten_sp{
    font-size:35px;
    font-style:italic;
}
#gia_sp{
    font-size:30px;
    color: red;
}
#mua_ngay{
    background-color:#C00; 
    color:#FFF; 
    text-align:center; 
    height:45px; width:150px;
	text-decoration:none;
}
#gio_hang{
    background:#FFF; 
    color:red; 
    height:45px; 
    width:250px; 
    border: 1px solid red;
	text-decoration:none;
}
#div-chitietsp_khuyenmai{
    clear:both; 
    padding-top: 20px; 
    padding-bottom: 50px;
}
#cauhinhchitiet{
    background-color:#999;
    font-size:20px;
    height:50px;
    text-align:center;
    width: 550px;
}
#khuyenmaihapdan{
    padding-left: 10px;
    width: 350px;
    font-size:20px;
    height:50px;
    text-align:center;
    border: 2px solid black;
    color: red;
}
.ten_thongso{
	width:150px; float:left;
    height: 30px;
}
.cacthongso_sp{
	float:left;
    width: 400px;
}
#nd_khuyenmai{
    padding-left: 30px; border: 2px solid black; border-top: none;
}
#hienthidangnhap a:link{text-decoration:none;color:red;}
