@charset "utf-8";
/* CSS Document */

.khung1 {
  width: 300px;
  border: 2px solid #dcdcdc;
  margin-right:20px;

  font-size:18px;
  padding: 9px;
  color: #676767;
 
}
#dau1{
	margin-top:50px;
	font-size:40px;
	color:#FFF;
}
body
{
	background: url(../images/Dangkivadangnhap4.png);	
}
.nutdn {
  width: 120px;
  text-align: center;
  cursor: pointer;
  color: #63532d;
  font-size:20px;
  line-height: 29px;
  border: 1px solid #cba957;
  margin-top:45px;
}
.forgetpassword{
	float:left;
	font-size:20px;
	clear:both;
	padding-left:600px;
	margin-top:50px;
	
}
.forgetpassword a:link{
	text-decoration:none;
}
.forgetpassword a:visited{
	color:#00F;
}
.dangnhap1{
	float:right;
	padding-right:620px;
	
}
