@charset "utf-8";
.chu{
	font-size:20px;
	padding:10px;
}

.hinh{
float:left;
width:40%;
padding:10px;
}
.noidung{
width:50%;
float:left;
font-size:25px;
text-align:center;
padding-top:30px ;
}
.member{
	clear:both;
	width:65%;
	margin-top:10px;
	
	

}