@charset "utf-8";
.dieuhuong{
  position: absolute;
  color: #666;
  font-size: 40px;
  top: 518.4px;
  padding-left: 10px;
  left:614.4px;
  
}
.dieuhuong i:last-child{
  position: relative;
  left: 550px;
 
  
}

.chuyendong img{
  width: 500px;
  height: 400px;
  
}